:root {
  --thm-gray: #878c8f;
  --thm-gray-rgb: 135, 140, 143;
  --thm-base: #3cab41;
  --thm-base-rgb: 60, 171, 65;
  --thm-black: #0b3d2c;
  --thm-black-rgb: 11, 61, 44;
  --thm-primary: #2a7d2e;
  --thm-primary-rgb: 42, 125, 46;
}